{% extends "base.html" %}


{% block page-head %}
  <!-- Font Awesome -->
  {% style "/plugins/fontawesome-free/css/all.css" %}
{% endblock %}


{% block content %}
<div class="columns">
  <div class="column">
    <h2>Create a new employee record.</h2>
    <p></p>

    <form method="POST" action="/employee_create">
      {% csrf-field %}

      <p>Full Name: <input class="input" type="text" name="full_name" value="{{ full_name }}" /></p>
      {% if errors.full_name %}<div class="notification is-danger">{{ errors.full_name|join }}</div>{% endif %}

      <p>Position: <input class="input" type="text" name="position" value="{{ position }}" /></p>
      {% if errors.position %}<div class="notification is-danger">{{ errors.position|join }}</div>{% endif %}

      <p>Office: <input class="input" type="text" name="office" value="{{ office }}" /></p>
      {% if errors.office %}<div class="notification is-danger">{{ errors.office|join }}</div>{% endif %}

      <p>Email: <input class="input" type="text" name="email" value="{{ email }}" /></p>
      {% if errors.email %}<div class="notification is-danger">{{ errors.email|join }}</div>{% endif %}

      <p>Gender: <input class="input" type="text" name="gender" value="{{ gender }}" /></p>
      {% if errors.gender %}<div class="notification is-danger">{{ errors.gender|join }}</div>{% endif %}

      <p>Is_Active: <input class="input" type="text" name="is_active" value="{{ is_active }}" /></p>
      {% if errors.is_active %}<div class="notification is-danger">{{ errors.is_active|join }}</div>{% endif %}

      <p>Salary: <input class="input" type="text" name="salary" value="{{ salary }}" /></p>
      {% if errors.salary %}<div class="notification is-danger">{{ errors.salary|join }}</div>{% endif %}

      <p>Birthday: <input class="input" type="text" name="birthday" value="{{ birthday }}" /></p>
      {% if errors.birthday %}<div class="notification is-danger">{{ errors.birthday|join }}</div>{% endif %}

      <p>Notes: <textarea class="textarea" name="notes">{{ notes }}</textarea></p>
      {% if errors.notes %}<div class="notification is-danger">{{ errors.notes|join }}</div>{% endif %}

      <input type="submit" name="submit" class="button is-primary" />
      <input type="button" name="cancel" value="Cancel" class="button" onClick="javascript:history.back();" /> 
    </form>
  </div>
</div>
{% endblock %}

