{% extends "base.html" %}


{% block page-head %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <!-- Font Awesome -->
  {% style "/plugins/fontawesome-free/css/all.css" %}

  <!-- DataTables -->
  {% style "/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}
  {% style "/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}
  {% style "/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}

  <!-- Theme style -->
  {% style "/dist/css/adminlte.min.css" %}
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->

    <div class="content" class="card-body">
        <table id="employeeTable1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Emp_ID</th>
                    <th>Full_Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Is_Active</th>
                    <!--
                    <th>Salary</th>
                    <th>Birthday</th>
                    <th>Notes</th>
                    <th>Time_Created</th>
                    <th>Time_Updated</th>
                    -->
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for row in employees %}
                <tr>
                    <td>{{ row.emp_id }}</td>
                    <td>{{ row.full_name }}</td>
                    <td>{{ row.position }}</td>
                    <td>{{ row.office }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ row.is_active }}</td>
                    <!--
                    <td>{{ row.salary }}</td>
                    <td>{{ row.birthday|date:"yyyy-MM-dd" }}</td>
                    <td>{{ row.notes }}</td>
                    <td>{{ row.time_created|date:"yyyy-MM-dd HH:mm:ss" }}</td>
                    <td>{{ row.time_updated|date:"yyyy-MM-dd HH:mm:ss" }}</td>
                    -->
                    <td>
                        <a href="/employee_update?emp_id={{ row.emp_id }}" class="button" >Update</a> 
                        <a href="/employee_delete?emp_id={{ row.emp_id }}" class="button" >Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div align="center">
            <a href="/employee_create" class="button is-primary" >New Employee</a>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}


{% block page-scripts %}
<!--
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"/>
<script crossorigin="anonymous" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"/>
<script src="/js/htmx.min.js"/>
<script src="/js/helpers.js"/>
-->

<!-- jQuery -->
{% script "/plugins/jquery/jquery.min.js" %}

<!-- Bootstrap 4 -->
{% script "/plugins/bootstrap/js/bootstrap.bundle.min.js" %}

<!-- DataTables  & Plugins -->
{% script "/plugins/datatables/jquery.dataTables.min.js" %}
{% script "/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}
{% script "/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}
{% script "/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}
{% script "/plugins/datatables-buttons/js/dataTables.buttons.min.js" %}
{% script "/plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}
{% script "/plugins/jszip/jszip.min.js" %}
{% script "/plugins/pdfmake/pdfmake.min.js" %}
{% script "/plugins/pdfmake/vfs_fonts.js" %}
{% script "/plugins/datatables-buttons/js/buttons.html5.min.js" %}
{% script "/plugins/datatables-buttons/js/buttons.print.min.js" %}
{% script "/plugins/datatables-buttons/js/buttons.colVis.min.js" %}

<!-- AdminLTE App -->
{% script "/dist/js/adminlte.min.js" %}


<!-- Page specific script -->
<script type="text/javascript">
    $(function () {
      $('#employeeTable1').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": true,
        "responsive": true,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
        }
      }).buttons().container().appendTo('#employeeTable1_wrapper .col-md-6:eq(0)');
    });
</script>
{% endblock %}
